<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
  <title>GLUG Mvit</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Glug,mvit,bangalore" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/logo.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/app.css" rel="stylesheet">
  <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>

</script>
</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="/" class="scrollto"><img src="/img/logo.png" alt="" class="img-fluid"><span>GLUG MVIT</span></a></h1>
        <a href="#header" class="scrollto"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
           <li><a href="https://blog.glugmvit.com/">Blog</a></li>
           <li><a href="/events">Events</a></li>
          <li class="active"><a href="/author">Our Team</a></li>
          <% if(!user){ %>
              <li>
                    <a href="/login">Login</a>
              </li>
              <li>
                    <a href="/register">Signup</a>
              </li>
          <% }else{ %>
            <li>
                  <a href="/logout">Logout</a>
            </li>
          <% } %>
        </ul>
      </nav>
      <br><br><br>
        
    </div>

  </header>

<section id="services" class="section-bg">
     <div class="container">

       <header class="section-header">
         <p>
       </header>
       <br>
       <br>

       <div class="row">

         <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
           <div class="box">
             <img src="/img/abhijeet.png" class = "tent" width = "150px" height="150px"><!--</div>-->
             <h4 class="title"><a href="https://www.linkedin.com/in/thatniceman/">Abhijeet Singh</a></h4>
             <p class="description">Neighbourhood friendly Software Engineer. GLUG Lead | Microsoft Student Partner | AI Developer.</p>
           </div>
         </div>
         <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
           <div class="box">
             <img src="/img/rajat.jpg" class = "tent" width = "150px" height="150px"><!--</div>-->
             <h4 class="title"><a href="https://www.linkedin.com/in/rajatkalsotra/">Rajat Kalsotra</a></h4>
             <div class="container"><p class="description">Web Developer| Web Scraping </p></div>
             
           </div>
         </div>
         <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
           <div class="box">
             <img src="/img/shubh.jpg" class = "tent" width = "150px" height="150px"><!--</div>-->
             <h4 class="title"><a href="https://www.linkedin.com/in/shubh-saxena-320950166/">Shubh Saxena</a></h4>
             <p class="description">Web Developer|Learning Flutter|Lover Of Maths</p>
           </div>
         </div>

         
      <!--    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
           <div class="box">
             <img src="/img/1.jpg" class = "tent" width = "150px" height="150px">
             <h4 class="title"><a href="">Aditya Raman</a></h4>
             <p class="description">Data Science Enthusiast || Former Full Stack Developer Intern || Volunteer at UNV Online</p>
           </div>
         </div>

         <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
           <div class="box">
           <img src="/img/0.jpg" class = "tent" width = "150px" height="150px">
             <h4 class="title"><a href="https://www.linkedin.com/in/arsh-deep-60140816a/">Arshdeep Kashyap</a></h4>
             <p class="description">Django|Machine Learning</p>
           </div>
         </div> -->


       </div>

     </div>
   </section>
<% include ./partial/footer %>