<% include ./partial/header %>
  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h2>GNU/LINUX USERS GROUP<br>for open source <span>ENTHUSIASTS!</span></h2>
          <div>
            <a href="/events" class="btn-get-started scrollto">Check latest events</a>
          </div>
        </div>
  
        <div class="col-md-6 intro-img order-md-last order-first">
          <img src="img/intro-img.png" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">
  	<!--==========================
      Features Section
    ============================-->
    <section id="about">
      <div class="container">

        <div class="row feature-item">
          <div class="col-lg-6 wow fadeInUp">
            <img src="img/features-1.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h2>Free Software movement Karnataka</h2>
            <p>
             We are driven by volunteers, who by day are software engineers, students, academicians, or government officials, and by night are Free Software evangelists.
            </p>
            <p>
              We work closely with college students and encourage them to use, and help develop, Free Software. To make this student interaction, we set up college-level units called GNU/Linux User Groups (GLUGs). These GLUGs organise various technical sessions and events.
            </p>
          </div>
        </div>

        <div class="row feature-item mt-5 pt-5">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="img/features-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h2>Starting a new GLUG:</h2>
            <p>
              It is as easy as inviting any FSMK member to the college/institute/company you belong and arrange for session. Followed by session we help you form a GLUG and guide you further.
            </p>
            <p>
              Some interesting discussions about GLUGs could be found here:
            </p>
            <ul>
                <li><a href="https://discuss.fsmk.org/t/what-is-the-purpose-of-a-glug">https://discuss.fsmk.org/t/what-is-the-purpose-of-a-glug</li>
                <li><a href="https://discuss.fsmk.org/t/how-do-we-sustain-a-glug">https://discuss.fsmk.org/t/how-do-we-sustain-a-glug</li>
             </ul>
          </div>
          
        </div>

      </div>
    </section><!-- #about -->


    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>GNU Linux Users Group</h3>
          <p>
Open to any free software enthusiasts. This community has been always described as place for learning and sharing, a place to evolve and grow together.</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">We do the new</a></h4>
              <p class="description">Many may describe this society of ours, to be a fun place- where everyday is a new adventure.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="">Tweak it up!</a></h4>
              <p class="description">In GLUG, we move away from the orthodox-ed version of looking and preferring things from a certain person's perspective.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">A connected society</a></h4>
              <p class="description">Our club is a colourful mixture of people with varied talents and expertise, always willing to collaborate and help.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Have a new idea?</a></h4>
              <p class="description">Anybody can suggest their idea, project or events, for the glug to take up.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline" style="color: #2282ff;"></i></div>
              <h4 class="title"><a href="">Build and keep building</a></h4>
              <p class="description">We are always working on some or the other projects in the GLUG, to keep the geek inside you busy ;-)</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #ecebff;"><i class="ion-ios-clock-outline" style="color: #8660fe;"></i></div>
              <h4 class="title"><a href="">An active group</a></h4>
              <p class="description">The community has been active for quite a long time now, taking the name of the college and FSMK ahead.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us"    class="wow fadeIn">
      <div class="container-fluid">
        
        <header class="section-header">
          <h3>What is OpenSource? </br>What is FreeSoftware?</h3>
          <p>"Free as in freedom of speech and not as in free beer",a freedom to use, understand, modify and share the software. This is the freedom we care about.</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <div class="why-us-img">
              <img src="img/why-us.jpg" alt="" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-6">
            <div class="why-us-content">
         

              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-diamond" style="color: #f058dc;"></i>
                <h4>Learn from others</h4>
                <p>You can view and run the code of other contributors, learn from their mistakes.</p>
              </div>

              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-object-group" style="color: #ffb774;"></i>
                <h4>Most importantly “free software is controlled by its users”</h4>
                <p>That's the fundamental issue: while non-free software is controlled by some other entity (typically a corporation or a state), free software is controlled by its users.</p>
              </div>
              
              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-language" style="color: #589af1;"></i>
                <h4>Do what you are best at</h4>
                <p>You can contribute to the software you want to, can do the work you like to do and you are best at.</p>
              </div>
              
            </div>

          </div>

        </div>

      </div>
    </section>

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Subscribe to emails</h3>
            <p class="cta-text"> Join our subscribers and get access to the latest tools,event announcements and much more .</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="/register">Call To Action</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->


<% include ./partial/footer %>